.fa {
    color: #FFC107;
}

img {
    position: relative;
    top:35px;
    max-height: 12em;
    max-width: 12em;
}

.close {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 100;
    opacity: 1;
}