<!--<div class="row">
    <div class="d-flex justify-content-between">
        <div class="col-sm-12">
            <button class="btn btn-outline-success" (click)="gaHalen();">
                IK GA KOFFIE HALEN
            </button>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-7">
        <h3>Haal overzicht</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let order of orders">
                <li class="list-group-item" (click)="getUserOrderType(order[0])">
                    {{order.aantal}} x {{order.drink.drinkName}} <ng-container *ngIf="order.melk > 0">{{order.melk}}x melk</ng-container><ng-container *ngIf="order.suiker > 0">{{order.suiker}}x suiker</ng-container>
                    <ng-container *ngFor="let userOrder of ordersPerUserAndType">
                        <ul *ngIf="userOrder.drink.drinkName===order[0]">
                            <li>
                                {{userOrder.aantal}} x
                                <span class="float-right">
                                    {{userOrder.verbruiker }}
                                </span>
                            </li>
                        </ul>
                    </ng-container>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
-->

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let order of ordersGrouped">
        {{order[0]}}

        <span class="badge badge-primary badge-pill jus">{{order[1] }}</span>
    </li>
</ul>
<button class="btn btn-success btn-lg" (click)="gaHalen()">Ik ga koffie halen!</button>
<ul class="list-group">
    <ng-container *ngFor="let userOrder of ordersPerUser">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="userOrder.halen">

            {{userOrder.aantal}}x {{userOrder.drink.drinkName}}
            <ng-container *ngIf="userOrder.melk > 0 || userOrder.suiker > 0">(</ng-container>
            <ng-container *ngIf="userOrder.melk > 0">{{userOrder.melk}}x melk</ng-container>
            <ng-container *ngIf="userOrder.melk > 0 && userOrder.suiker > 0"> & </ng-container>
            <ng-container *ngIf="userOrder.suiker > 0">{{userOrder.suiker}}x suiker</ng-container>
            <ng-container *ngIf="userOrder.melk > 0 || userOrder.suiker > 0">)</ng-container>
            <p class="float-right">{{userOrder.verbruiker}}</p>

        </li>
    </ng-container>
</ul>