p {
    line-height: 1.75;
}

.text-faded {
    color: rgba(255, 255, 255, 0.3);
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway';
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.85);
}

.btn-xl {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
    border-radius: 0.5rem;
    content: '';
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.text-primary {
    color: #e6a756 !important;
}

.bg-primary {
    background-color: #e6a756 !important;
}

.btn {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}