<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">de lekkerste koffie van nederland</span>
    <span class="site-heading-lower">business as unusual</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/assets/Images/landing_intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">het drinken waard</span>
                    <span class="section-heading-lower">verse koffie</span>
                </h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet nibh
                    tincidunt ex viverra aliquet eget sed metus. Maecenas ut risus vel nulla faucibus sollicitudin
                    vel a ipsum. Quisque vestibulum finibus nisl, ac aliquam ipsum volutpat ac. Suspendisse vitae
                    magna ut sapien commodo tristique vel ac massa. Fusce rhoncus suscipit nunc a interdum.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-success btn-xl" [routerLink]="['/login']">Log hier in!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta rounded">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">de lekkerste koffie</span>
                        <span class="section-heading-lower">speciaal voor jou</span>
                    </h2>
                    <p class="mb-0">Suspendisse sed neque malesuada, dictum libero eu, lacinia metus. Duis posuere
                        elementum rhoncus. Mauris velit dolor, dignissim quis laoreet eu, faucibus et libero. Fusce
                        id sapien dignissim, ornare nulla nec, interdum turpis. Mauris eu arcu malesuada, tempor
                        purus ac, tempor dolor. Donec sed mauris efficitur, ornare nisi nec, dapibus nisl. Quisque
                        at libero molestie, hendrerit metus vel, elementum diam. In hac habitasse platea dictumst.</p>
                </div>
            </div>
        </div>
    </div>
</section>