<!-- https://github.com/BlackrockDigital/startbootstrap-business-casual -->
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">de lekkerste koffie van nederland</span>
    <span class="site-heading-lower">business as unusual</span>
</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./assets/Images/landing_intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" (click)="toLogin()">Log hier in!</a>
                        </div>
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">het drinken waard</span>
                    <span class="section-heading-lower">verse koffie</span>
                </h2>
                <p class="mb-3">Met deze geweldige, fantastische en magnifieke koffie-app bestel je koffie voor jezelf en haalt één van je groepsgenoten het op. Maar pas op dat je geen profiteur wordt en haal zelf ook eens koffie!
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="page-section cta rounded">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">de lekkerste koffie</span>
                        <span class="section-heading-lower">speciaal voor jou</span>
                    </h2>
                    <p class="mb-0">Onze koffie wordt gemaakt van verse koffie bonen en bevat uitsluitend bonen die groeien in een koffie plantage aan een koffieplant. Wil je toch liever een kopje heet water verrijkt met wat thee extract dan is dit natuurlijk ook mogelijk.</p>
                </div>
            </div>
        </div>
    </div>
</section>