.pointer {
    cursor: pointer;
}

h4 {
    margin: 0;
}

.fa {
    -webkit-transition: all .3s ease-out; /* Safari */
    transition: all .3s ease-out;
}

.fa-rotate-0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width:920px;
    min-width:110px;
    margin-left:-5px;
    margin-bottom:1em;
}
.menu-icon{
    background-color:rgba(230, 167, 86, 1.0);
    position:relative;
	display:inline-block;
	border-radius:10px;
	width:120px;
	height:120px;
	margin:5px;
	text-align:center;
}
.menu-icon >div{
    background-color: rgba(255, 255, 255, 1.0);
    position:relative;
	display:inline-block;
	border-radius:10px;
	width:114px;
    height:114px;
    margin:3px;
	text-align:center;
}
.menu-icon >div >div{
    background-color: rgba(255, 255, 255, 1.0);
    border: 3px rgba(230, 167, 86, 1.0) solid;
    position:relative;
	display:inline-block;
	border-radius:10px;
	width:108px;
	height:108px;
	margin:3px;
    text-align:center;
}
.menu-image img{
    width:75%;
    margin:auto;
    margin-top:0.3em;
    margin-bottom: 0.3em;
}
.menu-label{
    font-size:8pt;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bold;
}
.menu-icon >div:hover{
    background:rgba(230, 167, 86, 1.0);
}
.menu-icon-active >div{
    background:rgba(230, 167, 86, 1.0);
    animation: blinker 0.2s linear;
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
}
.card{
   border:0; 
}
.menu-hamburger{
    display: none;
}
@media (max-width: 767px){
    .menu{
        display: none;
        flex-direction: row;
        flex-wrap:wrap;
        max-width:920px;
        min-width:110px;
        margin-left:-5px;
        margin-bottom:1em;
    }
    .menu-hamburger{
        display: block;
        position: absolute;
        right:5px;
        top:5px;
        z-index: 998;
    }
    .hideContent{
        display:block;
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        background: #fff;
        opacity: 0.8;
        z-index: 997;
    }
    .showContent{
        display: none;
    }
    .activeMenu{
        z-index:999;
        display: block;
        position: absolute;
        top:0;
        right: 50px;
        flex-direction: column;
        flex-wrap:wrap;
        width: 130px;
    }
    .content{
        position: relative;
        top:30px;
    }
}