<div class="card mb-3" [hidden]="!hasOrders">
        <div class="card-header">
            <button class="btn btn-link" (click)="toggleOrders()">
                <h4>
                    <i class="fa fa-plus fa-fw fa-lg fa-rotate-0" [ngClass]="{'fa-rotate-45': showOrders}"></i>
                    Reeds bestelde drankjes
                </h4>
            </button>
        </div>
        <div [hidden]="!showOrders">
            <div class="card-body">
                <app-overview (notify)="onNotifyOrders($event)"></app-overview>
            </div>
        </div>
    </div>

<div class="card mb-3" [hidden]="!hasFavorite">
    <div class="card-header">
        <button class="btn btn-link" (click)="toggleFavorite()">
            <h4>
                <i class="fa fa-plus fa-fw fa-lg fa-rotate-0" [ngClass]="{'fa-rotate-45': showFavorite}"></i>
                Bestel uw favoriet
            </h4>
        </button>
    </div>
    <div [hidden]="!showFavorite">
        <div class="card-body">
            <app-favorite (notifyFavorite)="onNotifyFavorite($event)" (notifyPlaced)="onNotifyPlaced()"></app-favorite>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-link" (click)="toggleDrinks()">
            <h4>
                <i class="fa fa-plus fa-fw fa-lg fa-rotate-0" [ngClass]="{'fa-rotate-45': showAllDrinks}"></i>
                Kies een drank
            </h4>
        </button>
    </div>
    <div [hidden]="!showAllDrinks">
        <div class="card-body">
            <app-place></app-place>
        </div>
    </div>
</div>

<div class="card mb-3" *ngIf="isManager();">
    <div class="card-header">
        <button class="btn btn-link" (click)="toggleManager()">
            <h4>
                <i class="fa fa-plus fa-fw fa-lg fa-rotate-0" [ngClass]="{'fa-rotate-45': showManagerPanel}"></i>
                Rapportage Panel
            </h4>
        </button>
    </div>
    <div [hidden]="!showManagerPanel">
        <div class="card-body">
            <app-reports></app-reports>
        </div>
    </div>
</div>

<div class="card" *ngIf="isAdmin();">
    <div class="card-header">
        <button class="btn btn-link" (click)="toggleAdmin()">
            <h4>
                <i class="fa fa-plus fa-fw fa-lg fa-rotate-0" [ngClass]="{'fa-rotate-45': showAdminPanel}"></i>
                Admin Panel
            </h4>
        </button>
    </div>
    <div [hidden]="!showAdminPanel">
        <div class="card-body">
            <button class="btn btn-block btn-success mb-3" [routerLink]="['/user/create']">Nieuwe Gebruiker</button>
            <app-select></app-select>
        </div>
    </div>
</div>