.card {
    width: auto;
    max-width: 50rem;
    margin: auto;
    border: 0;
}
.card-body{
    text-align: center;
}
img {
    max-height: 15em;
    max-width: 15em;
}

.fa-star-o,
.fa-star {
    color: #FFC107;
}

.fa-time {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.close-star {
    margin-left: 15px;
    margin-top: 12px;
    opacity: 1;
}

.close-times {
    margin-right: 15px;
    margin-top: 12px;
}
@media (max-width: 767px){
    .card-body{
        min-width:20em;
    }
    .card-body img{
        width:80%;
        left:0;
        top:0;
    }
    .card .input-group{
        max-width:100%;
    }
}