<div class="row">
    <div class="col-sm-6 mb-4" *ngFor="let availableCoffee of availableCoffees">
        <div class="card row-overzicht shadow bg-white rounded">
            <img class="card-img-top" src="{{ availableCoffee.imageUrl }}">
            <div class="card-body">
                <h4 class="card-title">{{ availableCoffee.drinkName }}</h4>
                <a [routerLink]="[ '/order/coffees/' + availableCoffee.drinkId ]" class="btn btn-primary">Bestellen!</a>
            </div>
        </div>
    </div>
</div>
​