<div class="row">
    <div class="col-sm-6 mb-4" *ngFor="let availableCoffee of availableCoffees">
        <a [routerLink]="[ '/order/coffees/', availableCoffee.drinkId ]">
            <div class="card row-overzicht shadow bg-white rounded">
                <img class="card-img-top mx-auto" src="{{ availableCoffee.imageUrl }}">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ availableCoffee.drinkName }}</h4>
                </div>
            </div>
        </a>
    </div>
</div>