<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\KoffieAPI.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <connectionStrings>
    <add name="connKoffieData" connectionString="Server=tcp:koffiedata.database.windows.net,1433;Initial Catalog=koffiedata;Persist Security Info=False;User ID=koffieWeb;Password=K0Ff13W3b!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: EB68C7AF-4925-4A41-9C22-A5C65A081ABF-->