<button type="button" class="btn btn-dark" routerLink="../../">X</button>
<div class="card">
    <img class="card-img-top" src="https://i.imgur.com/EQLOCji.jpg" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">{{availableCoffee}}</h3>
        <p class="card-text">Een overheerlijk bakje {{availableCoffee}}!</p>
        <div>
            <h4>Melk
                <button type="button" class="btn btn-primary" (click)="melkCountDown()">-</button>
                <button type="button" class="btn btn-primary" (click)="melkCountUp()">+</button>{{melkcnt}}</h4>
        </div>
        <div>
            <h4>Suiker
                <button type="button" class="btn btn-primary" (click)="suikerCountDown()">-</button>
                <button type="button" class="btn btn-primary" (click)="suikerCountUp()">+</button>{{suikercnt}}</h4>
        </div>
        <button type="button" class="btn btn-success btn-lg" style="float: right;" (click)="addToOrder(availableCoffee, newAantal, 'Wilrik', suikercnt, melkcnt);">Bestellen</button>
    </div>
</div>