.card {
  width: auto;
  max-width: 50rem;
  margin: auto;
  border-color: black;
}
.card-text {
  align-self: auto;
}
div {
  margin-top: 3px;
}
.col-center{
  margin:auto;
  float:none;
}
.btn-close{
  border: 0;
  border-radius: 0;
}
.btn-bestellen{
  margin-top: 1em;
}