<div class="row">
    <div class="col-12 mb-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let order of orderlines">
                <div class="row d-inline-flex w-100">
                    <div class="col-12">
                        {{ order.count }} x {{ order.drink.drinkName }}
                        <span class="float-right">{{ order.customer.firstName }} {{ order.customer.lastName }}</span>
                    </div>
                    <div class="col-12" *ngIf="order.server">
                        <small class="text-muted">
                            <span *ngIf="order.milk > 0">Melk: {{ order.milk }}</span>
                            <span *ngIf="order.milk > 0 && order.sugar > 0"> & </span>
                            <span *ngIf="order.sugar > 0">Suiker: {{ order.sugar }}</span>
                        </small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-12" *ngIf="showButton">
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="gaHalen()">Ik ga deze bestelling halen!</button>
    </div>
</div>