$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$fa-font-path: "~font-awesome/fonts";

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}